<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://devourlisbonfoodtours.com/wp-content/uploads/best-bars-lisbon-pavilhao-chines.jpg);">
  <div class="container">
    <h1>Mister Cocktail</h1>
    <p>Let's get drunk</p>
  </div>
</div>