<%= render 'components/banner' %>

<div class="container p-5">
  <div class="cards mb-5">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="card-category" 
        style="background-image: url('<%= cl_image_path cocktail.photo.key, height: 300, width: 300, crop: :fill %>')">
          <%= cocktail.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
