<div class="container">

  <h1>New Cocktail</h1>
  <div class="form-group">
    <%= simple_form_for (@cocktail) do |f| %>
      <%= render partial: "form", locals: {f: f }, class: "form-control" %>
     
    <% end %>
  </div>
</div>